<mat-card>
  <mat-card-header>
    <mat-card-title>
      <strong>{{ exhibition().title }}</strong>
    </mat-card-title>
    <mat-card-subtitle>
      {{ 'exhibition.located-at' | translate}} {{ exhibition().gallery_title }}
    </mat-card-subtitle>
  </mat-card-header>

  <img mat-card-image [src]="exhibition().image_url" [alt]="exhibition().title">

  <mat-card-content>
    <p>
      {{ exhibition().short_description }}
    </p>
    <p>
      <strong>{{ exhibition().status }}</strong>
    </p>
  </mat-card-content>

  <mat-card-footer>
    <div class="footer-content">
      <button (click)="goToLink(exhibition().web_url)" mat-button color="primary"> {{ 'exhibition.check-details' | translate }}</button>
      <p>{{ exhibition().aic_start_at | date:'medium' }} - {{ exhibition().aic_end_at | date:'medium' }}</p>
    </div>
  </mat-card-footer>





  <!--<mat-card-header>
    <mat-card-title>{{ exhibition.title }}</mat-card-title>
    <mat-card-subtitle>{{ exhibition.date | date }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="exhibition.imageUrl" alt="{{ exhibition.title }}">
  <mat-card-content>
    <p>{{ exhibition.description }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="viewDetails()">{{ 'VIEW_DETAILS' | translate }}</button>
  </mat-card-actions>-->

</mat-card>
